body {
  background-color: lightgray;
  height: 100%;
}
/* index */
.container-header {
  margin-top: 45px;
  background-color: #ffffff;
  width: 960px;
}

.container-nav {
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
}
.nav-active {
  margin-left: 407px;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  background-color: #4aaaa5;
  font-weight: bolder;
  font-size: xx-large;
}

.nav-links {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

.nav-ul {
  padding-left: 1120px;
  margin-right: 150px;
  margin-top: -3%;
  color: #777777;
}

.nav-tabs {
  border-bottom: none;
}
.jumbotron {
  background-color: #ffffff;
}

h1 {
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: bolder;
}

.p-border {
  border-top: 2px solid #cccccc;
}

.lead {
  margin-bottom: -1px;
  padding-top: 20px;
}

.p-font {
  line-height: 1.7;
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

.float-left {
  padding-top: 30px;
  width: 345px;
  margin-right: 20px;
}

#sticky-footer {
  padding-top: 20px;
  margin-top: 200px;
  height: 60px;
  background-color: #666666;
  flex-shrink: none;
  color: #ffffff;
  border-top: 10px solid #4aaaa5;
}

/* contact form*/
.contact-row {
  margin-bottom: 20px;
  border-bottom: 2px solid #cccccc;
}

.submit-btn {
  color: #ffffff;
  background-color: #4aaaa5;
  margin-left: 15px;
}

.form-name {
  margin-left: -15px;
}

.form-email {
  margin-left: -1px;
  width: 550px;
}

.form-message {
  margin-left: -1px;
  /* width: 800x; */
  width: 100%;
}

#footer {
  padding-top: 20px;
  margin-top: 110px;
  height: 60px;
  background-color: #666666;
  flex-shrink: none;
  color: #ffffff;
  border-top: 10px solid #4aaaa5;
}

/* Portfolio */
.Portfolio {
  margin: 5px;
  float: left;
  width: 290px;
  padding: 15px;
  margin-right: 12px;
}

.port {
  margin-left: -7px;
}
.port-5 {
  margin-left: -10px;
}

.port-6 {
  margin-left: -329px;
}

.Portfolio img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-right: 2px;
}

.desc {
  padding: 15px;
  text-align: center;
  font-size: 90%;
  background: #4aaaa5;
  color: #ffffff;
}
