
body{
  background-color: #cccccc;

}
.main-container {
  background-color: #777777;

}
.container{
  padding-top: 35px;
  background-color:  #ffffff;
  
}
.nav-active {
  background-color: #4aaaa5;
  color: white;
}

.nav-links {
  color: #777777;
  float: right;
}

h2 {
  color: #4aaaa5;
  margin-bottom: 20px;
  font-weight: 650;
}

.contact-row {
  margin-bottom: 20px;
  border-bottom: 4px solid #cccccc;
}

.main-image {
  margin-left: 15px;
}

.tab-content {
  line-height: 1.7;
  color: #777777;
}

#tab-border {
  border-color: #cccccc;
  line-height: 1.6;
  font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.float-left {
    width: 345px;
}

.navys{
    padding-left: 1300px;
    padding-right: 50px;
}
.navys li {
    float: left;
}