.container {
  background-color: #ffffff;
}
.nav-active {
  background-color: #4aaaa5;
  color: white;
}

.nav-links {
  color: #777777;
  float: right;
}

h2 {
  color: #4aaaa5;
  margin-bottom: 20px;
  font-weight: 650;
}

.contact-row {
  margin-bottom: 20px;
  border-bottom: 4px solid #cccccc;
}

#tab-border {
  border-color: #cccccc;
}
